<div class="container">
    <div  class="card-body" style="text-align: center;">
    <div ><h2 style="float: left;">Please Register</h2></div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">First and last name</span>
        </div>
        <input type="text" aria-label="First name" class="form-control" placeholder="Enter First Name">
        <input type="text" aria-label="Last name" class="form-control" placeholder="Enter Last Name">
      </div>
    
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default" >Email</span>
        </div>
        <input type="text" class="form-control" placeholder="Enter email">
      </div>
    
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">DOB</span>
        </div>
        <input type="date" class="form-control" placeholder="Enter DOB">
      </div>
    
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
        </div>
        <input type="text" class="form-control" placeholder="Enter password">
      </div>
      <div class="btn-group btn-group-toggle" data-toggle="buttons" style="float: right;" >
        
          <input class="btn btn-outline-dark" type="reset" value="Reset">
        
          <input  class="btn btn-outline-primary"type="submit" value="Submit">
      
        
      </div>
    </div>
    </div>